<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="container1">
        <header>
            <h1 class="maintitle">
                <a href="/">ABIN LOCKWOUD</a>
            </h1>
            <%- include('./partials/nav.ejs') %>
        </header> 
        <h1>Posts:</h1>
  <ul>
    <% if (posts.length) { %>
      <% posts.forEach(({ id, title, date, text, author }) => { %>
        <li>
          <article>
            <h2>
              <a href="/posts/<%= id %>"><%= title %></a>
            </h2>
            <p><%= text %></p>
            <div class="info">
              <span><%= date %></span>
              <span><%= author %></span>
            </div>
          </article>
        </li>
      <% }) %>
    <% } %>
  </ul>
    </div>
</body>
</html>